.subtitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Tiro Bangla', serif;
}

.title{
    font-family: 'Tiro Bangla', serif;
    text-align: center;
}

.body_db {
    background-color: #39b27c;
    height: fit-content;
}

.iconfit{
    height: 30px;
}

.icon:hover{
    color: rgb(123, 195, 228);
    zoom: 110%;
}

.iconinfo{
    color: white;
    text-decoration: none;
}

.iconinfo:hover{
    color: white;
}

.rockSalt{
    font-family: 'Rock Salt', cursive;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}

.icon_db{
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.icon_db:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.db_table{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    height: 90%;
}

.db_editar{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
}

thead{
    font-weight: bold;
}

th{
    align-items: center;
}

.theader{
    text-align: center;
    font-size: medium;
}

thead{
    background-color: #1a7bb9;;
}
